@use "../../../styles/colors.scss" as *;

.in-game-slider {
  border-radius: 20px;
  border: 1px solid #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/imgs/about-section/shop-interior.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 27px 40px 35px 40px;

  position: relative;

  .swiper-content-wrapper {
    position: relative;
    width: 100%;

    .custom-swiper-button {
      position: absolute;
      top: 50%;
      z-index: 2;
      transform: translateY(-50%);
      cursor: pointer;

      display: flex;
      width: 49px;
      height: 49px;
      padding: 5.691px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border-radius: 22.764px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(3.5568511486053467px);
    }

    .custom-swiper-button.disabled {
      svg {
        opacity: 0.4;
      }
      pointer-events: none; /* Optional: disable clicking */
    }

    .custom-swiper-button-prev {
      left: 0px;
    }
    .custom-swiper-button-next {
      right: 0px;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      color: #fff;
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      margin-bottom: 56px;
    }
    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 26px;
      img {
        //   width: 100%;
        //   height: 100%;
        width: 415px;
        height: 392px;

        object-fit: cover;
      }
      p {
        max-width: 511px;
        padding: 0 33px;

        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
