.about-section {
  padding-top: 100px;
  padding-bottom: 114px;

  // background-color: #0C0C0C;;

  display: flex;
  flex-direction: column;
  gap: 85px;

  position: relative;

  // overflow-x: hidden;

  .elipsis {
    position: absolute;
    width: 1409.543px;
    height: 1405.373px;
    transform: rotate(174.16deg);
    opacity: 0.6;
    z-index: 0;
  }

  .yellow-elipsis {
    right: 45.6%;
    top: 20%;
  }

  .azure-elipsis {
    right: 13.5%;
    top: 8%;
  }
  .purple-elipsis {
    left: 32%;
    top: 17%;
  }

  .bottom-azure-elipsis {
    transform: rotate(-125.932deg);
    left: 26.7%;
    top: 66%;
  }
  .bottom-yellow-elipsis {
    transform: rotate(-125.932deg);
    left: 37%;
    top: 67.74%;
    opacity: 0.9;
  }
  .bottom-purple-elipsis {
    transform: rotate(-125.932deg);
    left: 50.1%;
    top: 67%;
    opacity: 0;
  }

  .bg-gold-coin {
    position: absolute;
    width: 1025.216px;
    height: 1025.216px;
    right: 0;
    top: 26.206%;
    transform: rotate(-49.677deg) translateX(40%);
    z-index: 0;
    opacity: 0.1;
  }
}

@media (max-width: 1024px) {
  .about-section {
    padding-top: 40px;
    padding-bottom: 32px;
  }
}
