.about-section {
  padding-top: 100px;
  padding-bottom: 114px;

  display: flex;
  flex-direction: column;
  gap: 85px;

  // overflow: hidden;
}


@media (max-width: 1024px) {
  .about-section {
    padding-top: 40px;
    padding-bottom: 32px;
  }
}