@use "../../../styles/main.scss" as c;

.layout-wrapper {
  // background-color: c.$color-secondary;
  background-color: #171717;
  // min-height: 100vh;

  .layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;

    position: relative;
    // background-color: c.$color-secondary;

    .layout-content {
      // max-width: 1920px;
      margin: 0 auto;
      width: 100%;

      // background-color: c.$color-secondary;
    }

    .layout__item__wrapper {
      display: flex;
      justify-content: center;
      padding: 0 36px;
    }

    .navbar {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      max-width: 1500px;
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 26px 50px;

      z-index: 10000;


      @media (max-width: 1024px) {
        padding: 24px 20px;
      }

      .navigation {
        display: flex;
        gap: 36px;

        a {
          text-decoration: none;
          font-size: 20px;
          font-weight: 400;
          line-height: 24.2px;
          color: white;
        }
      }
      .social-icons {
        display: flex;
        gap: 36px;
      }
      .menu-wrapper {
        display: none;
        cursor: pointer;
      }

      @media (max-width: 1024px) {
        .navigation {
          display: none;
        }
        .social-icons {
          display: none;
        }
        .menu-wrapper {
          display: block;
        }
      }
    }

    .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 20px 32px 20px 32px;

      @media (max-width: 1024px) {
        padding-top: 27px;

        flex-direction: column;
        gap: 48px;

        .left {
          flex-direction: row !important;
          justify-content: center;
          align-items: center;
          gap: 35px !important;

          .logo {
            display: none;
          }
          .logo-mobile {
            display: block;
            width: 103px;
            height: 69px;
          }
        }

        .right {
          align-items: center !important;
          gap: 24px !important;
        }

        .navigation {
          flex-direction: column;
          gap: 12px !important;
          a {
            font-size: 16px;
          }
        }
        .social-icons {
          gap: 20px !important;
        }
        .copyright {
          font-size: 10px !important;
          max-width: 100% !important;
        }
      }
      .left {
        display: flex;
        flex-direction: column;
        gap: 36px;
      }

      .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 36px;
      }

      .logo-mobile {
        display: none;
      }

      .navigation {
        display: flex;
        gap: 32px;

        a {
          text-decoration: none;
          font-size: 20px;
          font-weight: 400;
          line-height: 24.2px;
          color: white;
        }
      }

      .social-icons {
        display: flex;
        gap: 36px;
      }

      .copyright {
        font-size: 15px;
        font-weight: 400;
        line-height: 18.15px;
        text-align: right;
        max-width: 153px;
        color: white;
      }

      .links {
        display: flex;
        gap: 24px;
      }
    }
  }
}

.root-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .root-modal-navigation {
    margin-top: 60px;
    margin-bottom: 60px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    text-align: center;

    a {
      text-decoration: none;
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  .root-modal-social-icons {
    margin-bottom: 24px;

    display: flex;
    gap: 20px;

    a {
      svg {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }

  .copyright {
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    // font-style: normal;
    // line-height: normal;
  }
}
