.summary-section {
  background-image: url("/imgs/summary-section/bg-summary-section.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding-bottom: 300px;

  overflow: hidden;
}

.call-to-action-wrapper {
  // padding-left: 22px;

  @media (max-width: 1024px) {
    padding-left: 10px;
  }
}
