.summary-section {
  background-image: url("/imgs/summary-section/bg-summary-section.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  margin-bottom: 100px;

  overflow: hidden;
}
