@use "../../../../styles/colors.scss" as *;

.title-section {
  position: relative;
  z-index: 1000;

  height: 100vh;
  max-height: 900px;

  background-image: url("/imgs/title-section/title-section-bg.png");
  background-size: cover;

  padding-top: 75px;

  display: flex;
  align-items: center;
  gap: 50px;

  .action-buttons-container-bottom {
    display: none;
  }

  .info-container {
    flex-shrink: 1;
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 800px;
    padding: 100px 0px 0px 100px;

    .action-text {
      font-size: 28px;
      font-weight: 300;
      line-height: 33.89px;
      letter-spacing: 0.05em;
      text-align: center;

      text-transform: uppercase;

      max-width: 428px;
      color: white;
      margin-bottom: 20px;
    }

    .big-text-img {
      position: relative;
      margin-bottom: 23px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 845px;
        height: 513px;
        background-image: url("/imgs/title-section/title-section-big-text-gradient.png");
        background-size: cover;
        z-index: 1;
      }
    }

    .addition-text {
      color: white;
      font-size: 24px;
      font-weight: 400;
      line-height: 29.05px;
      text-align: center;
      max-width: 428px;

      span {
        font-weight: 800;
        color: $color-secondary-yellow;
      }

      margin-bottom: 50px;
    }

    .action-buttons-container {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 20px;
      // flex-wrap: wrap;

      button {
        flex: 1;
        position: relative;
        z-index: 2;
      }
    }
  }

  .img-container {
    flex-grow: 1;
    min-width: 50%;
    z-index: 1;
    position: relative;
    right: -30px;
    // top: 75px;
    height: calc(100%);

    .main-img-cat {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    .gold-coin-tilted-left {
      position: absolute;
      width: 177.68px;
      height: 177.68px;
      top: 50.5%;
      left: 6%;
      background-image: url("/imgs/title-section/gold-coin.png");
      background-size: cover;
      z-index: 3;
      transform: rotateY(-180deg) rotate(15deg);
    }

    .gold-coin-tilted-right {
      position: absolute;

      width: 261.11px;
      height: 261.11px;
      top: 41.5%;
      right: -8%;
      background-image: url("/imgs/title-section/gold-coin.png");
      background-size: cover;
      z-index: 3;
      transform: rotate(20deg);
    }

    .gold-coin-blured {
      position: absolute;
      width: 199px;
      height: 199px;
      top: 2%;
      left: 0px;
      background-image: url("/imgs/title-section/gold-coin-blured.png");
      background-size: cover;
      z-index: 3;
    }

    .gradient {
      position: absolute;
      top: 65%;
      left: 45%;
      transform: translate(-50%, -50%);
      background: radial-gradient(
        44.32% 32.47% at 54.98% 42.93%,
        #5a9ae3 0%,
        rgba(40, 105, 186, 0) 100%
      );
      width: 629px;
      height: 827px;
      z-index: 1;
    }
  }
}

@media (max-width: 1024px) {
  .title-section {
    padding-top: 0;
    padding-bottom: 44px;
    flex-direction: column;
    gap: 0;

    height: auto;
    max-height: max-content;

    .info-container {
      margin: 0 auto;
      padding: 119px 20px 0px 20px;
      width: 100%;
      max-width: max-content;

      .action-text {
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 0.16px;
        background: linear-gradient(180deg, #fff 0%, #bedcff 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        max-width: 370px;

        margin-bottom: 5px;
      }

      .big-text-img {
        margin-bottom: 10px;
        max-width: 501px;
        img {
          width: 100%;
          height: auto;
        }

        &::before {
          width: 100%;
          height: auto;
        }
      }

      .addition-text {
        max-width: 317px;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 0px;
      }

      .action-buttons-container {
        display: none;
      }
    }

    .img-container {
      position: relative;
      right: 0;
      top: 0;
      width: 80%;
      // height: ;
      height: auto;
      // padding: 0px 30px;

      .main-img-cat {
        width: 100%;
        height: auto;
      }

      .gold-coin-tilted-left {
        width:133.76px;
        height: 133.76px;
        top: 60%;
        left: 13%;
      }

      .gold-coin-tilted-right {
        width: 170.5px;
        height: 170.5px;
        top: 40%;
        right: 10%;
      }

      .gold-coin-blured {
        width: 150.73px;
        height: 150.67px;
        top: 20%;
        left: 7%;
      }

      .gradient {
        width: 100%;
        height: auto;
      }
    }

    .action-buttons-container-bottom {
      width: 100%;
      padding: 0px 20px;
      // margin: 0 auto;
      position: relative;
      top: -3px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      // max-width: 450px;
    }
  }
}


@media (max-width:450px){
  .title-section {
    padding-top: 0;
    padding-bottom: 44px;
    flex-direction: column;
    gap: 0;

    height: auto;
    max-height: max-content;

    .info-container {
      margin: 0 auto;
      padding: 119px 20px 0px 20px;
      width: 100%;
      max-width: max-content;

      .action-text {
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 0.16px;
        background: linear-gradient(180deg, #fff 0%, #bedcff 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        max-width: 320px;

        margin-bottom: 5px;
      }

      .big-text-img {
        margin-bottom: 10px;
        max-width: 361px;

        img {
          width: 100%;
          height: auto;
        }

        &::before {
          width: 100%;
          height: auto;
        }
      }

      .addition-text {
        max-width: 217px;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 0px;
      }

      .action-buttons-container {
        display: none;
      }
    }

    .img-container {
      position: relative;
      right: 0;
      top: 0;
      width: 100%;
      // height: ;
      height: auto;
      // padding: 0px 30px;

      .main-img-cat {
        width: 100%;
        height: auto;
      }

      .gold-coin-tilted-left {
        width: 63.76px;
        height: 63.76px;
        top: 60%;
        left: 13%;
      }

      .gold-coin-tilted-right {
        width: 74.5px;
        height: 74.5px;
        top: 40%;
        right: 10%;
      }

      .gold-coin-blured {
        width: 72.73px;
        height: 73.67px;
        top: 20%;
        left: 7%;
      }

      .gradient {
        width: 100%;
        height: auto;
      }
    }

    .action-buttons-container-bottom {
      width: 100%;
      padding: 0px 20px;
      // margin: 0 auto;
      position: relative;
      top: -3px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      // max-width: 450px;
    }
  }
}