@use "../../../styles/colors.scss" as c;

// @keyframes glass {
//   from {
//     left: -75px;
//   }
//   to {
//     left: 120%;
//   }
// }

@keyframes pulseScale {
  0% {
    transform: scale(1); // Button at normal size
  }
  50% {
    transform: scale(1.05); // Button enlarges to 105% of its size
  }
  100% {
    transform: scale(1); // Button at normal size
  }
}

.btn {
  font-size: 17px;
  font-weight: 600;
  line-height: 20.57px;
  letter-spacing: 0.05em;
  text-align: center;
  color: white;
  text-transform: uppercase;
  cursor: pointer;

  padding: 24px 32px;

  border-radius: 16px;

  position: relative;

  $border: 2px;

  z-index: 1;
  border: none;

  overflow: hidden;

  display: inline-block; // Ensure transform applies correctly
  transition: transform 2s ease-in-out; // Smooth transition for scaling

  &.type-primary {
    background: linear-gradient(16.61deg, #edaa00 42.18%, #fcd532 109.17%);

    box-shadow: 0px 10px 30px 0px #210f0f66, 1px 6px 0px 1px #de6800;

    animation: pulseScale 2s infinite; // Apply the scaling animation

    &.illuminate-shadow {
      box-shadow: 0px 4px 40px 0px #efbb2666, 0px 10px 30px 0px #210f0f66,
        0px 5px 0px 0px #de6800;
    }
  }

  &.type-standart {
    border: 1px solid rgba(255, 255, 255, 1);
    background: none;
  }
}
