@use "../../../styles/colors.scss" as c;

.btn {
  font-size: 17px;
  font-weight: 600;
  line-height: 20.57px;
  letter-spacing: 0.05em;
  text-align: center;
  color: white;
  text-transform: uppercase;
  cursor: pointer;

  padding: 24px 32px;

  border-radius: 16px;

  border: 1px solid;

  // &:hover {
  //   background-color: c.$color-primary;
  //   color: c.$color-white;
  // }

  &.type-primary {
    background: linear-gradient(16.61deg, #edaa00 42.18%, #fcd532 109.17%);

    border-image-source: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.28) 100%
    );

    box-shadow: 0px 10px 30px 0px #210f0f66, 0px 5px 0px 0px #de6800;
    &.illuminate-shadow {
      box-shadow: 0px 4px 40px 0px #efbb2666;
    }
  }

  &.type-standart {
    border: 1px solid rgba(255, 255, 255, 1);
    background: none;
  }
}
