.roadmap-wrapper {
  margin-bottom: 176px;

  .header {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 50px;
  }
  .main {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .left-cat-img,
    .right-cat-img {
      position: relative;
      z-index: 2;

      // width: 333px;
    }

    .info .text-panel:last-child::after {
      display: none;
    }

    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 25.609px;

      max-width: 531.391px;

      .icon-img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .check-icon-img-wrapper {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 55px;
          height: 55px;
          transform: translate(-50%, -50%);
          background-image: url("/ellipses/azure-ellipse.png");
          background-size: cover;
          opacity: 0.5;
        }
      }

      .text-panel-progress-bar-wrapper {
        position: relative;

        .plug-left-img,
        .plug-right-img {
          position: absolute;
          top: 50%;
          z-index: 1;
        }

        .plug-left-img {
          left: 0;
          transform: translateY(-50%) translateX(calc(-100% - 8.003px));
        }
        .plug-right-img {
          right: 0;
          transform: translateY(-50%) translateX(calc(100% + 8.003px));
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;

          width: 8.003px;
          height: 41.615px;

          border: 1.601px solid rgba(255, 255, 255, 0.5);

          background: var(--Theme-Cyan, #00d1ff);
          z-index: 2;
        }
        &::before {
          left: 0;

          transform: translateY(-50%) translateX(-100%);

          border-radius: 6.402px 1.601px 1.601px 6.402px;
        }
        &::after {
          right: 0;
          transform: translateY(-50%) translateX(100%);

          border-radius: 1.601px 6.402px 6.402px 1.601px;
        }
        .plug {
        }
      }

      .text-panel {
        display: flex;
        padding: 12.805px 32.011px;
        align-items: center;

        border-radius: 16.006px;
        border: 1.601px solid #fff;
        background: var(--Common-Medium, rgba(255, 255, 255, 0.05));
        backdrop-filter: blur(4.001436710357666px);

        color: white;
        font-size: 22.408px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        position: relative;

        // last-child  should not have the line

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%) translateY(calc(100% + 1.601px));

          width: 1.601px;
          height: 25.609px;

          background: rgba(255, 255, 255, 0.3);
        }

        &.text-panel-check {
          justify-content: space-between;

          border: 1.601px solid var(--Theme-Cyan, #00d1ff);

          color: var(--Theme-Cyan, #00d1ff);

          &::after {
            background: var(--Theme-Cyan, #00d1ff);
          }
        }

        &.text-panel-icon-start {
          justify-content: flex-start;
          gap: 6.4px;
        }

        &.text-panel-ruby {
          border: 1.601px solid #c71f34;
          box-shadow: 0px 0px 16.486px 0px #ec3147;
        }

        &.text-panel-progress-bar {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 12.8px;
          padding-top: 19.21px;
          padding-bottom: 19.21px;

          position: relative;

          p {
            text-align: left;
          }

          color: var(--Theme-Cyan, #00d1ff);

          box-shadow: 0px 9.603px 18.887px 0px rgba(0, 0, 0, 0.7),
            0px -12.805px 24.009px 0px rgba(0, 209, 255, 0.2) inset;

          &::after {
            background: linear-gradient(
              180deg,
              #00d1ff 0%,
              rgba(255, 255, 255, 0.3) 100%
            );
          }

          &::before {
            content: "We are here";
            color: var(--Theme-Cyan, #00d1ff);
            font-size: 16.006px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            padding: 6.402px 9.603px;
            border-radius: 25.609px;
            border: 1.601px solid var(--Theme-Cyan, #00d1ff);
            background: var(--Common-Dark, #171717);
            backdrop-filter: blur(4.001436710357666px);

            position: absolute;
            top: 0;
            left: 50%;

            transform: translateX(-50%) translateY(-50%);
            z-index: -1;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .roadmap-wrapper {
    padding-left: 34px;
    padding-right: 34px;
    .header {
      font-size: 32px;
    }

    .main {
      .left-cat-img,
      .right-cat-img {
        display: none;
      }

      .info {
        max-width: 90%;
        min-width: 277.101px;;

        .text-panel {
          padding: 12.805px 24.009px;
          font-size: 18.406px;
        }
      }
    }
  }
}
